{{#if (not imported)}}
  <h2>Time Report Summary:</h2>
  {{x-file-input alt="Import Time Data" class="upload" multiple=false action=(action "process") accept="text/csv"}}
  {{#if true}}
    &emsp;Debug&nbsp;{{#paper-checkbox value=debug onChange=(action (mut debug))}}{{/paper-checkbox}}
  {{/if}}
{{else}}
  <h4>Nexonia Timecard File Loaded</h4>
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'YTD')}}YTD{{/paper-button}}
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'MONTH')}}by Month{{/paper-button}}
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'WEEK')}}by Week{{/paper-button}}
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'DAY')}}by Day{{/paper-button}}
  <br>
  {{#if (eq type 'WEEK')}}
    Report Week:
      {{#paper-select
        label="Week"
        selected=searchWeek
        options=weekList
        onChange=(action (mut searchWeek))
      as |item|
      }}
        {{item}}
      {{/paper-select}}&emsp;

  {{else if (eq type 'MONTH')}}
    Report Month:
      {{#paper-select
        label="Month"
        selected=searchMonth
        options=monthList
        onChange=(action (mut searchMonth))
      as |item|
      }}
        {{item}}
      {{/paper-select}}&emsp;

  {{else if (eq type 'DAY')}}
    Report Day:
      {{#paper-select
      label="Month"
      selected=mmSearch
      options=mmList
      onChange=(action (mut mmSearch))
    as |item|
    }}
      {{item}}
    {{/paper-select}}&emsp;
      {{#paper-select
        label="Day"
        selected=ddSearch
        options=ddList
        onChange=(action (mut ddSearch))
      as |item|
      }}
        {{item}}
      {{/paper-select}}&emsp;
      {{#paper-select
        label="Year"
        selected=yyyySearch
        options=yyyyList
        onChange=(action (mut yyyySearch))
      as |item|
      }}
        {{item}}
      {{/paper-select}}&emsp;

  {{else if (eq type 'YTD')}}
    Timeframe: YTD&emsp;
  {{/if}}

  Unit:
    {{#paper-select
      label="unit"
      selected=unitFilter
      options=units
      onChange=(action (mut unitFilter))
    as |item|
    }}
      {{item}}
    {{/paper-select}}&emsp;

  Managers:
    {{#paper-select
      label="manager"
      selected=mgr
      options=mgrList
      onChange=(action (mut mgr))
    as |item|
    }}
      {{item}}
    {{/paper-select}}&emsp;

    {{#paper-select
      label="Year"
      selected=yyyySearch
      options=yyyyList
      onChange=(action (mut yyyySearch))
    as |item|
    }}
      {{item}}
    {{/paper-select}}&emsp;
  Short Hours Only&nbsp;{{#paper-checkbox value=shortOnly onChange=(action (mut shortOnly))}}{{/paper-checkbox}}&nbsp;
  Hide Disabled&nbsp;{{#paper-checkbox value=hideDisabled onChange=(action (mut hideDisabled))}}{{/paper-checkbox}}&nbsp;
  Exclude Partial Hours&nbsp;{{#paper-checkbox value=excludePartial onChange=(action (mut excludePartial))}}{{/paper-checkbox}}&nbsp;
  {{#paper-button raised=true primary=true onClick=(action 'exportCSV')}}EXPORT CSV{{/paper-button}}&nbsp;
  {{#if (eq type 'YTD')}}
    {{#if update}}
      <h2>Missing Time YTD Report</h2>
    {{else}}
      <h2>Timecard YTD Report</h2>
    {{/if}}
  {{else if (eq type 'WEEK')}}
    {{#if update}}
      <h2>Missing Time Weekly Report&emsp; week: {{searchWeek}}</h2>
    {{else}}
      <h2>Timecard Weekly Report&emsp; week: {{searchWeek}}</h2>
    {{/if}}

  {{else if (eq type 'MONTH')}}
    {{#if update}}
      <h2>Missing Time Monthly Report&emsp; Month: {{searchMonth}}</h2>
    {{else}}
      <h2>Timecard Monthly Report&emsp; Month: {{searchMonth}}</h2>
    {{/if}}

  {{else if (eq type 'DAY')}}
    {{#if update}}
      <h2>Missing Time Day Report&emsp; Date: {{searchDate}}</h2>
    {{else}}
      <h2>Timecard Day Report&emsp; Date: {{searchDate}}</h2>
    {{/if}}

  {{/if}}
  <br>

  {{#if debug}}
    <b>Processed Data:</b><br><br>
    {{textarea value=processed rows="8" cols='150'}}<br><br>
  {{/if}}

  {{#if csv}}
    {{{report.csvReport}}}
  {{else}}

    <b>BILLING STATS:</b> &emsp;Emp Count: {{report.empTotal}}&emsp;FT Billing Count: {{report.billCount}}&emsp;
    Vac/Pers Count: {{report.vacCount}} ({{report.vacDays}}d)&emsp;
    Lost Days: {{report.lostDays}}d&emsp;
    Bill Avg: {{report.billAvg}} hr/day&emsp;Avg Bill Days: {{report.billDays}}d<br><br>

    <b>ALL DATA TOTALS:</b> &emsp;Emp Count: {{report.empTotal}}&emsp;
    Total Billed Hrs: {{report.billTot}} hrs ({{report.billAvgEmp}} hr/emp)&emsp;Total Records: {{report.lineCount}}&emsp;<br>
    Flex Earn: {{report.flexEarnedTotal}} hrs ({{report.flexEarnedAvg}}d)&emsp;
    Flex Used: {{report.flexUsedTotal}} hrs ({{report.flexUsedAvg}}d)&emsp;
    Vac: {{report.vacTotal}} ({{report.vacAvg}}d)&emsp;
    Per: {{report.persTotal}} ({{report.persAvg}}d)&emsp;
    Holidays: {{report.holTotal}} ({{report.holAvg}}d)&emsp;
    Training: {{report.trainTotal}} ({{report.trainAvg}}d)&emsp;
    Unpaid: {{report.unpaidTotal}} ({{report.unpaidAvg}}d)&emsp;
    <br><br>
    {{{report.table}}}
  {{/if}}
{{/if}}

