{{#if (not imported)}}
  <h2>Time Report Summary:</h2>
  {{x-file-input alt="Import Time Report" class="upload" multiple=false action=(action "process") accept="text/csv"}}
  {{#if true}}
    &emsp;Debug&nbsp;{{#paper-checkbox value=debug onChange=(action (mut debug))}}{{/paper-checkbox}}
  {{/if}}
{{else}}
  <h4>Nexonia Timecard File Loaded</h4>
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'YTD')}}YTD{{/paper-button}}
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'MONTH')}}by Month{{/paper-button}}
  {{#paper-button raised=true primary=true onClick=(action 'setType' 'WEEK')}}by Week{{/paper-button}}
  <br>
  {{#if (eq type 'WEEK')}}
    Report Week:
      {{#paper-select
        label="Week"
        selected=searchWeek
        options=weekList
        onChange=(action (mut searchWeek))
      as |item|
      }}
        {{item}}
      {{/paper-select}}&emsp;

  {{else if (eq type 'MONTH')}}
    Report Month:
      {{#paper-select
        label="Month"
        selected=searchMonth
        options=monthList
        onChange=(action (mut searchMonth))
      as |item|
      }}
        {{item}}
      {{/paper-select}}&emsp;
  {{else if (eq type 'YTD')}}
    Timeframe: YTD&emsp;
  {{/if}}

  Managers:
    {{#paper-select
      label="manager"
      selected=mgr
      options=mgrList
      onChange=(action (mut mgr))
    as |item|
    }}
      {{item}}
    {{/paper-select}}&emsp;
  Short Hours Only&nbsp;{{#paper-checkbox value=shortOnly onChange=(action (mut shortOnly))}}{{/paper-checkbox}}&nbsp;
  Hide Disabled&nbsp;{{#paper-checkbox value=hideDisabled onChange=(action (mut hideDisabled))}}{{/paper-checkbox}}&nbsp;
  Exclude Partial Hours&nbsp;{{#paper-checkbox value=excludePartial onChange=(action (mut excludePartial))}}{{/paper-checkbox}}&nbsp;

  {{#if (eq type 'YTD')}}
    {{#if update}}
      <h2>Missing Time YTD Report</h2>
    {{else}}
      <h2>Timecard YTD Report</h2>
    {{/if}}
  {{else if (eq type 'WEEK')}}
    {{#if update}}
      <h2>Missing Time Weekly Report&emsp; week: {{searchWeek}}</h2>
    {{else}}
      <h2>Timecard Weekly Report&emsp; week: {{searchWeek}}</h2>
    {{/if}}

  {{else if (eq type 'MONTH')}}
    {{#if update}}
      <h2>Missing Time Monthly Report&emsp; Month: {{searchMonth}}</h2>
    {{else}}
      <h2>Timecard Monthly Report&emsp; Month: {{searchMonth}}</h2>
    {{/if}}

  {{/if}}
  <br>

  {{#if debug}}
    <b>Processed Data:</b><br><br>
    {{textarea value=processed rows="8" cols='150'}}<br><br>
  {{/if}}
  Emp Count: {{report.empCount}}&emsp;Billed Count: {{report.billedCount}}&emsp;Vac Count: {{report.vacCount}}&emsp;
  Vac Days: {{report.vacDays}}<br>
  {{{report.table}}}
{{/if}}

